{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<div class="hero-area section">
    
    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url(../static/img/iz_polja.jpg)"></div>
    <!-- /Backgound Image -->

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1 class="white-text">
                    POVIJEST ŽUPE ČERIN
                </h1>
                <h3 class="white-text wow animate__animated animate__fadeInDown animate__delay-1s">
                    Materijalna i duhovna izgradnja
                </h3>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">

        <br>

        <div class="col-md-6 wow animate__animated animate__fadeInUp animate__delay-1s">	
            <p>
                Prošlo je već 157 godina otkako je broćanska župa Čerin započela svoj samostalni život. Vjernici su sa 
                svojim svećenicima franjevcima prošli desetljeća kako duhovnoga rasta i 
                uspješne izgradnje crkvenh i župnih objekata (danas ima veliku župnu kuću - rezidenciju, vjeronaučnu 
                dvoranu, župnu i 3 područne crkve), tako i muka i patnja: od početnih 
                poteškoća oko kupnje zemljišta i mučne izgradnje objekata, zbog turskih protivljenja i zbog teške 
                oskudice u kojoj je narod živio, do razdoblja progona u "staroj" Jugoslaviji 
                te još više ubijanja i progona franjevaca i naroda od partizanskih komunističkih postrojbi 1945. 
                i nakon toga te odlaska na sve strane svijeta, što je bila izravna posljedica kako progona tako 
                siromaštva u kojem je narod živio. Ta simbioza svijetlih i mračnih trenutaka očito je pozitivno 
                djelovala na očeličenje ovoga puka, koji je unatoč svim progonstvima i mukama, pa i odlaska u daleki 
                svijet, ostao prepoznatljiv po svojoj vjernosti Bogu, Crkvi i hrvatskome narodu.
            </p>
        </div>

        <div class="col-md-6 wow animate__animated animate__fadeInRight animate__delay-1s">	
            <img class="img-responsive" src="{% static 'img/spomenik_dan.jpeg' %}">
        </div>
    </div>

    <div class="wow animate__animated animate__fadeInUp">
        <p>
            U tekstu koji slijedi nalaze se brojni podaci o nastanku i razvoju župe, o izgradnji crkvenih objekata, kao i o 
            duhovnome rastu župe. Prije svega je potrebno pojasniti da se župa tijekom svoje 150-godišnje povijesti ponešto 
            mijenjala vezano i za same granice župe: nekoć je obuhvaćala i sela Grljeviće (do 1872./74.) i Lipno, formirana 
            od broćanskih doseljenika na svoje staje oko sredine 19. stoljeća; Lipno se kasnije (1919) priključilo 
            novoosnovanoj župi Grljevići; te maleni dio sela Cerno (mostarsko ili broćansko), nastalo na isti način 
            kao i Grljevići i Lipno, sve dok se konačno i preostale malobrojne ceranjske obitelji 1960. nisu priključile 
            župi Čitluk. Međutim, u bitnome se granice nisu mijenjale pa župa od svojega početka do danas obuhvaća 
            sela u gornjemu Brotnju: Čerin, Hamziće (Gornje i Donje), Dragićinu, Ograđenik (četiri naselja, sa zaseocima) 
            te Donju Blatnicu. Danas graniči sa župama: Jare i Ljuti Dolac sa sjevera, Gradnići i Čitluk s istoka, 
            Humac s juga, Grljevići, Rasno i Buhovo sa zapada. 
        </p>
    </div>

    <br>

    <div class="text-center wow animate__animated animate__fadeInUp">
        <h3>Osnutak i granice župe Čerin</h3>
    </div>

    <p class="wow animate__animated animate__fadeInUp">
        Samo tri godine poslije osnutka čerinske župe zabilježio je u svome poznatom 
        Šematizmu fra Petar Bakula o njoj, pod naslovom "Mjesna kapelanija Sv. Stjepana prvomučenika": 
        "Odijeljena od matice Gradnića g. 1864., od tada vodi i Matice. Ova kapelanija zauzimlje manju polovinu 
        Brotnja. Mali Ograđenik i Blatnica čine istočni dio kapelanije, Veliki Ograđenik, Cerno i Dragićina južni, 
        Hamzići i Grljevići zapadni, Čalići pak sjeverni. Od istoka graniči s Gradnićima, od juga s Humcem i 
        Veljacima, od zapada s Ružićima i Širokim Brijegom i od sjevera s Ljutim Docom.(...) 
        Cijela duljina kapelanije Čerin je 5 sati [hoda]. Širina 3 sata." 
    </p>

    <div class="wow animate__animated animate__fadeInUp">
        <img class="img-responsive" src="{% static 'img/spomenik_i_crkva.jpeg' %}">
    </div>

    <p class="wow animate__animated animate__fadeInUp">
        Valjalo bi ponajprije reći nešto o granicama. Očito je da je i ova nova župa (u početku pod imenom samostalne 
        kapelanije) imala prevelik prostor: do danas su granice prema istoku i sjeveru ostale iste, ali ne i prema 
        zapadu, gdje su se kasnije odvojila sela Grljevići i Lipno, kao prema jugu, gdje se odvojilo selo (Mostarsko) 
        Cerno. Sela Grljevići i Lipno u najvećoj su mjeri naseljena broćanskim stočarima, koji su u tim selima 
        stoljećima imali samo povremena, sezonska staništa (staje), da bi se negdje od polovice 19. stoljeća neki tu 
        počeli i stalno nastanjivati. To stanje možemo najbolje pratiti na temelju sačuvanih broćanskih matica 
        (od 1775. godine). Prvo krštenje u Grljevićima zabilježeno je 21. lipnja 1846., da bi stalna krštenja počela 
        od 1854. godine, makar ih ni tada nije bilo previše. Spominju se prezimena: Kordić i Ševo, a u manjoj mjeri 
        Mišetić i Zubac. Do 1864. kršteno je tek 20-ero djece, a neku od njih krštavali su veljački (ljubuški) župnici 
        jer su im Grljevići bili pristupačniji nego broćanskim župnicima. U čerinskoi Matici krštenih upisuju se 
        krštenja od samoga početka župe 1864. do 1874. godine. U tih 10 godina upisano je 30 krštenja," 
        što znači da se broj stalnih stanovnika umnogome povećao. U međuvremenu su se Grljevići pripojili 
        novoosnovanoj župi Rasno (od 1872. samostalna kapelanija, od 1874. župa), ali su se zbog nesporazuma 
        oko sjedišta župe (Rasno ili Ledinac) i neizgradnje župne kuće u prvim dvjema godinama, do 1874., 
        očito još držali stare matice Čerina. Otada su dio župe Rasno, sve do 1919., kad je osnovana nova župa 
        Grljevići. Lipno je još kasnije postalo pravim selom, dakle sa stalnim stanovnicima. Tu su inače neki 
        katolici iz Donjeg Brotnja (Dobro Selo) povremena imanja imali vjerojatno od još od 18. stoljeća, a prvo 
        kršteno dijete za koje je zapisano da je rođeno u Lipnu bio je Grgo Raspudić, sin Markov, rođen 4. ožujka 1828. 
        Kršten je 16 dana poslije u Dobrom Selu. Poslije se spominju još dvije djevojčice rođene Lipnu, ali roditelji 
        stalno nastanjeni u Dobrom Selu (1829., 1833.) te neke osobe kao kume, ali tek 1870. pa nadalje. 
    </p>

    <div class="col-md-6 wow animate__animated animate__fadeInLeft">
        <img class="img-responsive" src="{% static 'img/iz_vinograda.jpeg' %}">
    </div>

        
    <p class="wow animate__animated animate__fadeInUp">
        Prva prezimena zabilježena u Matici su Raspudić, Brkić, Miletić i Corić. To pak znači i da 
        Lipno u trenutku nastanka župe Čerin 1864 još nije bilo naselje sa stalnim stanovnicima pa je 
        to razlog i što ga Bakula 1867. ne navodi medu naseljima čerinske župe. Na temelju čerinskih 
        matica moglo bi se zaključiti da stalni stanovnici u Lipno počinju dolaziti, bolje: ostajati, od 
        1868. godine: od te godine do 1890. (do kada su matice prepisane u računalni sustav) u Lipnu 
        je kršteno 128 djece. Lipno je ostalo dijelom župe Čerin sve do 1919., kada je pripojeno 
        novoosnovanoj župi Grljevići. Cerno je selo na rubu Brotnja, u pravcu Ljubuškog, tako da i 
        danas jedan dio sela pripada Brotnju, a drugi Ljubuškom. Riječ je zapravo o dijelu sela, dotad 
        pustog, koji su od sredine 19. st. počeli naseljavati stočari iz Brotnja pa se tako za njih pastoralno 
        nastavio skrbiti broćanski župnik. U staroj broćanskoj Matici krštenih selo se prvi put spominje 1843. 
        godine, a do 1890. se spominje 46 puta. Pa ipak, ljubuški dio Cerna bio je naseljen već u 17. stoljeću, 
        barem muslimanima. O tome svjedoči podatak iz Sidžila mostarskog kadije prema kojem se Ahmed, 
        Sin Omerov, iz sela Cerna vjenčao s djevojkom Fatimom, kćeri Huseinovom iz istoga sela. Svjedoci su bili
        Husein, sin Pervanov, i Mahmud, sin Abdulahov, vjerojatno iz istoga sela. Bilo je to, po svemu sudeći, 1685. 
        godine.
    </p>
        
    <p class="wow animate__animated animate__fadeInUp">
        Poslije osnutka župe Čerin broćansko je Cerno postalo dijelom te nove župe, a tako je ostalo sve do 
        1960. (osim zaseoka Dugandžića koji su pripadali župi Čitluk, od osnutka te župe 1918. do danas). 
        Već od početka 1950-ih godinana i neke druge obitelji (Barbarići) svoju djecu krste u Čitluku, da bi na 
        kraju i ostale ceranjske obitelji 1960. službeno zatražile da ih se pripoji župi Čitluk. Razlog je bio 
        lakši pristup Čitluku nego Čerinu, do kojeg je postojala samo kozja staza. Bilo je 11 obitelji. 
        Biskup mons. Petar Čule udovoljio je njihovoj zamolbu i donio odluku “kojom spomenutih 11 obitelji iz 
        Mostarskog Cerna odcjepljuje od župe Čerin i priključuje župi Čitluk.” 
        Tako se župa Čerin najprije smanjila za selo Grljeviće 1872. (1874.) a zatim za selo Lipno (1919.) 
        i konačno za selo Mostarsko Cerno (1960.). Otada se nalazi u današnjim granicama.
    </p>  
</div>
<div class="container">

    <div class="col-md-6 dark-text text-center">
        <h3>Župnici župe Čerin</h3>
        <ul>
            <li>Fra Marijan Miletić (1864.-1870.)</li>
            <li>Fra Martin Mikulić (1870.-1872.)</li>
            <li>Fra Ivo Vasilj (1872.-1883.)</li> 
            <li>Fra Marijan Zovko (1883.-1894.)</li>
            <li>Fra Stjepan Naletilić (1894.-1894.)</li>
            <li>Fra Rafo Radoš (1894.-1899.)</li>
            <li>Fra Vencel Bašić (1899.-1899.)</li>
            <li>Fra Jako Vasilj (1899.-1911.)</li>
            <li>Fra Ilija Rozić (1911.-1921.)</li>
            <li>Fra Mile Miloš (1921.-1929.)</li>
            <li>Fra Nikola Ivanković(1929.-1934.)</li>
            <li>Fra Tomo Zubac (1934.-1937.)</li>
            <li>Fra Grgo Vasilj (1937.-1943.)</li>
            <li>Fra Živko Martić(1943.-1947.)</li>
            <li>Fra Vice Skoko (1947.-1948.)</li>
            <li>Fra Darinko Brkić(1948.-1950.)</li>
            <li>Fra Eugen Tomić (1950.-1952.)</li>
            <li>Fra Vencel Kosir (1952.-1956.)</li>
            <li>Fra Krsto Ravlić (1956.-1957.)</li>
            <li>Fra Božidar Ćorić (1957.-1959.)</li>
            <li>Fra Umberto Lončar (1959.-1964.)</li>
            <li>Fra Stanko Vasilj (1964.-1970.)</li>
            <li>Fra Zrinko Čuvalo (1970.-1974.)</li>
            <li>Fra Stanko Banožić (1974.-1980.)</li>
            <li>Fra Drago Čolak (1980.-1988.)</li>
            <li>Fra Berislav Kutle (1988.-1991.)</li>
            <li>Fra Ante Leko (1991.-2000.)</li>
            <li>Fra Mate Dragićević (2000.-2005.)</li>
            <li>Fra Iko Skoko (2005.-2010.)</li>
            <li>Fra Dario Dodig (2010.-2016.)</li>
            <li>Fra Tihomir Bazina (2016.-2019.)</li>
            <li>Fra Hrvoje Miletić (2019.- )</li>   
        </ul>
    </div>

    <div class="col-md-6 dark-text text-center">
        <h3>Kapelani župe Čerin</h3>
        <ul>
            <li>Fra Križan Galić (1909.-1911.)</li>
            <li>Fra Stjepan Romić (1912.-1913.)</li>
            <li>Fra Metod Miletić (1914.-1916.)</li> 
            <li>Fra Cvitan Dodig (1916.-1917.)</li>
            <li>Fra Križan Galić (1918.-1920.)</li>
            <li>Fra Ante Sladoja Šola (1920.-1921.)</li>
            <li>Fra Križan Galić (1921.-1922.)</li>
            <li>Fra Bazilije Senjak (1934.-1934.)</li>
            <li>Fra Žarko Pehar (1935.-1939.)</li>
            <li>Fra Silvestar Vasilj (1937.-1941.)</li>
            <li>Fra Miroljub Skoko (1939.-1940.)</li>
            <li>Fra Jako Križić (1941.-1944.)</li>
            <li>Fra Kamilo Milas (1941.-1945.)</li>
            <li>Fra Branko Marijić (1943.-1943.)</li>
            <li>Fra Franjo Ivanković (1944.-1945.)</li>
            <li>Fra Martin Sopta (1944.-1945.)</li>
            <li>Fra Vice Skoko (1946.-1947.)</li>
            <li>Fra Bosiljko Kordić (1946.-1946.)</li>
            <li>Fra Vice Skoko (1948.-1949)</li>
            <li>Fra Blago Brkić (1948.)</li>
            <li>Fra Janko Bubalo (1950.-1981.)</li>
            <li>Fra Placid Pandžić (1953.-1955.)</li>
            <li>Fra Tomo Zubac (1967.-1965.)</li>
            <li>Fra Ratimir Kordić (1965.-1985.)</li>
            <li>Fra Luka Begić (1967.-1968.)</li>
            <li>Fra Ante Perković (1968.-1969.)</li>
            <li>Fra Jozo Zovko (1969.-1974.)</li>
            <li>Fra Bonifacije Barbarić (1974.-1976.)</li>
            <li>Fra Tihomir Nuić (1975.-1976.)</li>
            <li>Fra Ante Pranjić (1976.-1980.)</li>
            <li>Fra Franjo Mabić (1980.-1981.)</li>
            <li>Fra Berislav Mikulić (1981.-1983.)</li>
            <li>Fra Jakov Lovrić (1982.-1988.)</li>
            <li>Fra Branimir Musa (1983.-1988.)</li>
            <li>Fra Ljudevit Rupčić (1988.)</li>
            <li>Fra Umberto Lončar (1988.-2000.)</li>
            <li>Fra Ante Leko (1988.-1991.)</li>
            <li>Fra Iko Šarić (1991.-1996.)</li>
            <li>Fra Ante Ivanković (1993.-1995.)</li>
            <li>Fra Rade Dragićević (1995.-2004.)</li>
            <li>Fra Stjepan Martinović (1996.-2000.)</li>
            <li>Fra Drago Škrobo (1999.-2007.)</li>
            <li>Fra Marko Dragićević (2000.-2003.)</li>
            <li>Fra Anthony Burnside (2003.-2004.)</li>
            <li>Fra Mladen Rozić (2005.-2007.)</li>
            <li>Fra Tomislav Puljić (2005.)</li>
            <li>Fra Ivan Ivanda (2007.-2010.)</li>
            <li>Fra Ivan Landeka ml. (2007.-2010.)</li>
            <li>Fra Ignacije Alerić (2010.-2013.)</li>
            <li>Fra Tihomir Bazina (2013. – 2016.)</li>
            <li>Fra Slaven Brekalo (2014.-2016.)</li>
            <li>Fra Hrvoje Miletić (2016.-2019.)</li>
            <li>Fra Jure Barišić (2019.- )</li>   
        </ul>          
    </div>
</div>
{% endblock content %}