{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<div class="hero-area section">

	<!-- Backgound Image -->
	<div class="bg-image bg-parallax overlay" style="background-image:url(../static/img/ziva_zupa.jpg)"></div>
	<!-- /Backgound Image -->

    <div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
				<h1 class="white-text wow animate__animated animate__fadeInUp animate__delay-1s">Vijesti župe Čerin</h1>

			</div>
		</div>
	</div>
</div>

<div class="container">
    <div class="row">

        {% comment %}
        for object in object_list

            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="glasnik wow animate__animated animate__fadeInUp">
                    <a href="{{ object.get_absolute.url }}">
                        <img class="img-responsive" src="{{ object.slika.url }}">																														
                        <h5 class="glasnik-title text-center" >{{ object.title }}</h5>
                    </a>								                   
                </div>
            </div>
        {% endcomment %}
        <div class="wow animate__animated animate__fadeInUp animate__delay-2s">
            <h1 class="text-center">Trenutno nema vijesti!</h1>
        </div>
    </div>
</div>

{% endblock content %}